body{margin-top:20px;}

.chat-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 75vh;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
    font-size: 1.2rem;
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.bubble-right {
  margin-right: 1rem;
}

.bubble-left {
  margin-left: 1rem;
}

.password-input {
  max-width: 10rem !important;
}

@keyframes blink {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}

.typing-indicator {
  display: flex;
  align-items: center;
}

.typing-indicator .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 4px;
  margin-top: 0.5rem;
  opacity: 0.2;
  animation: blink 1s infinite;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

button {
  background-color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  background: #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}